<% content_for(:navbar) do %>
  <li><a href="/lists">Home</a></li>
  <li><a href="">Something else</a></li>
  <li><a href="etc">Etc.</a></li>
<% end %>



<h1>Lists</h1>

<ul>
  <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list) %></li>
  <% end %>
</ul>


<hr>

<%= link_to "New List", new_list_path %>
